<html>
<head>
<script type="text/javascript">
<!--
function redirect(){
    window.location = "/secur/login_portal.jsp?orgId=00D1I000003nRMa&portalId=0601I000000DtoP"
}
//-->
</script>
</head>
<body onLoad="javascript:redirect()">

</body>
</html>