<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <allowedExtensions>jpg,docx,txt,png,gif,bmp,pdf,xlsx,ppt,doc,pptx,xls</allowedExtensions>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <description>This is a B2B community using the Customer Service (Napili) template and accessible by Lauren Boyle.</description>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailFooterLogo>Images_Logos_Buttons/CompanyLogo.png</emailFooterLogo>
    <emailFooterText>.</emailFooterText>
    <emailSenderAddress>sdo@salesforce.com</emailSenderAddress>
    <emailSenderName>AudioPro Community</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableGuestChatter>true</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableMemberVisibility>true</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>true</enableUpDownVote>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>true</gatherCustomerSentimentData>
    <maxFileSizeKb>20480</maxFileSizeKb>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Community</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Community Home</label>
                    <position>0</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/community-home</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <defaultListViewId>My_ChatterGroups</defaultListViewId>
                    <label>Groups</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>CollaborationGroup</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Topics</label>
                    <position>2</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/topics</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Share Ideas</label>
                    <position>3</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/ideas</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Messages</label>
                    <position>4</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/messages/Home</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Topics</label>
            <position>2</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>ShowMoreTopics</target>
            <type>NavigationalTopic</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Support</label>
            <position>3</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Support Home</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/support</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Work Orders</label>
                    <position>1</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>WorkOrder</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>My Account</label>
            <position>4</position>
            <publiclyAvailable>false</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <defaultListViewId>United_Partners_Invoices</defaultListViewId>
                    <label>Invoices</label>
                    <position>0</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Invoice_Example__c</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <defaultListViewId>United_Partners_Projects</defaultListViewId>
                    <label>Projects</label>
                    <position>1</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>Milestone1_Project__c</target>
                    <type>SalesforceObject</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Files</label>
                    <position>2</position>
                    <publiclyAvailable>false</publiclyAvailable>
                    <target>/my-files</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>Moderate_Audiophiles_Community</permissionSet>
        <permissionSet>Community_Moderator</permissionSet>
        <profile>*Service</profile>
        <profile>Admin</profile>
        <profile>*Customer Community</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Designer</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Professional_Community_C</picassoSite>
    <recommendationAudience>
        <recommendationAudienceDetails>
            <audienceCriteriaType>MaxDaysInCommunity</audienceCriteriaType>
            <audienceCriteriaValue>180.0</audienceCriteriaValue>
            <setupName>New Members</setupName>
        </recommendationAudienceDetails>
        <recommendationAudienceDetails>
            <audienceCriteriaType>CustomList</audienceCriteriaType>
            <setupName>Product Upgrade Eligible Members</setupName>
        </recommendationAudienceDetails>
    </recommendationAudience>
    <recommendationDefinition>
        <recommendationDefinitionDetails>
            <actionUrl>https://www.salesforce.com/communities/overview/?d=70130000000lzYpAAI&amp;internal=true</actionUrl>
            <description>We thought you could use an upgrade - checkout our latest promotions:</description>
            <linkText>I&apos;m Interested!</linkText>
            <scheduledRecommendations>
                <scheduledRecommendationDetails>
                    <channel>CustomChannel1</channel>
                    <enabled>true</enabled>
                    <rank>1</rank>
                    <recommendationAudience>Product Upgrade Eligible Members</recommendationAudience>
                </scheduledRecommendationDetails>
            </scheduledRecommendations>
            <setupName>1. Product Upgrade</setupName>
            <title>Need an Upgrade?</title>
        </recommendationDefinitionDetails>
        <recommendationDefinitionDetails>
            <actionUrl>https://developer.salesforce.com/trailhead</actionUrl>
            <description>Develop deeper industry knowledge and become a recognized expert in your field!</description>
            <linkText>Enroll Me!</linkText>
            <scheduledRecommendations>
                <scheduledRecommendationDetails>
                    <channel>DefaultChannel</channel>
                    <enabled>true</enabled>
                    <rank>2</rank>
                    <recommendationAudience>000000000000000</recommendationAudience>
                </scheduledRecommendationDetails>
            </scheduledRecommendations>
            <setupName>1. Training</setupName>
            <title>Get Certified!</title>
        </recommendationDefinitionDetails>
        <recommendationDefinitionDetails>
            <actionUrl>https://www.salesforce.com/communities/overview/?d=70130000000lzYpAAI&amp;internal=true</actionUrl>
            <description>Learn how to join the conversation to learn or share with other customers!</description>
            <linkText>Get Started</linkText>
            <scheduledRecommendations>
                <scheduledRecommendationDetails>
                    <channel>DefaultChannel</channel>
                    <enabled>true</enabled>
                    <rank>1</rank>
                    <recommendationAudience>000000000000000</recommendationAudience>
                </scheduledRecommendationDetails>
            </scheduledRecommendations>
            <setupName>1. Welcome</setupName>
            <title>Welcome to the Community!</title>
        </recommendationDefinitionDetails>
        <recommendationDefinitionDetails>
            <actionUrl>https://trailhead.salesforce.com</actionUrl>
            <description>Professionals who get trained do more business and have higher customer satisfaction ratings. Want to accelerate your career? Get trained now!</description>
            <linkText>Learn More</linkText>
            <scheduledRecommendations>
                <scheduledRecommendationDetails>
                    <channel>CustomChannel4</channel>
                    <enabled>true</enabled>
                    <rank>1</rank>
                    <recommendationAudience>000000000000000</recommendationAudience>
                </scheduledRecommendationDetails>
            </scheduledRecommendations>
            <setupName>CTA: Product Training</setupName>
            <title>Get Trained!</title>
        </recommendationDefinitionDetails>
        <recommendationDefinitionDetails>
            <actionUrl>https://www.salesforce.com</actionUrl>
            <description>Hear the experts talk about how to get the most value out of your investments.</description>
            <linkText>Learn More</linkText>
            <scheduledRecommendations>
                <scheduledRecommendationDetails>
                    <channel>DefaultChannel</channel>
                    <enabled>true</enabled>
                    <rank>3</rank>
                    <recommendationAudience>000000000000000</recommendationAudience>
                </scheduledRecommendationDetails>
            </scheduledRecommendations>
            <setupName>Weekly Webinar</setupName>
            <title>Join us for our Weekly Webinar!</title>
        </recommendationDefinitionDetails>
    </recommendationDefinition>
    <reputationLevels>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_01_png2.png</smallImage>
            </branding>
            <label>Novice</label>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_02_png2.png</smallImage>
            </branding>
            <label>Amateur</label>
            <lowerThreshold>26.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_03_png2.png</smallImage>
            </branding>
            <label>Intermediate</label>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_04_png2.png</smallImage>
            </branding>
            <label>Professional</label>
            <lowerThreshold>101.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_05_png2.png</smallImage>
            </branding>
            <label>Expert</label>
            <lowerThreshold>160.0</lowerThreshold>
        </level>
        <level>
            <branding>
                <smallImage>Communities_Shared_Document_Folder/reputation_06_png2.png</smallImage>
            </branding>
            <label>Guru</label>
            <lowerThreshold>200.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>7</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>3</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>25</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>2</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>11</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>7</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>9</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>8</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>6</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>2</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>9</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegProfile>*customer community</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Professional_Community</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>professional</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
